.bubble
  font-size: 1.4rem
  color: #fff
  height: 100%
  margin-bottom: 0.3rem
  transition: border-radius .5s
  user-select: none
  &:first-of-type .bubble__text
    border-radius: 2.5rem 2.5rem 2.5rem 0
  &:last-of-type .bubble__text
    border-radius: 0 2.5rem 2.5rem 2.5rem
  &:only-of-type .bubble__text
    border-radius: 2.5rem
  &__text
    max-width: 48rem
    border-radius: 0 2.5rem 2.5rem 0
    padding: 1.5rem 2.25rem
    background: linear-gradient(135deg,#6b73ff 10%,#000dff 100%)
    display: inline-block
    line-height: 1.41
    -webkit-box-shadow: 1px 1px 2px #1e1e1e33
    box-shadow: 1px 1px 2px #1e1e1e33
    &:last-child
      margin-bottom: 0

@media (max-width: 767px)
  .bubble
    font-size: .9375rem /* 15/16 */
