.portfolio-page-container
  overflow: hidden
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  background: #111
  color: #fff
  @media (max-width: 767px)
    padding: 0 17px
  .page-title
    position: absolute
    font-weight: 200
    text-align: center
    font-size: 5rem
    font-weight: 600
    z-index: 0
